:root {
  --color-blue: #173b8f;
  --color-blue-dark: #102b6f;
  --color-light-blue: #dceefa;
  --color-white: #ffffff;
  --color-text: #111827;

  --font-title: "Montserrat Alternates", sans-serif;
  --font-main: "Be Vietnam Pro", sans-serif;

  --button-radius: 999rem;
}

/* basis */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-main);
  color: var(--color-text);
  background: var(--color-white);
}

/* header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  z-index: 1000;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1.5rem 6vw;

  background-image: url("images/header-back.png");
  background-size: cover;
  background-position: center;
}

.logo {
  width: clamp(5rem, 10vw, 9rem);
  height: auto;
}

.nav {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  margin-top: 1.2rem;
}

.nav a {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 0.9rem 1.8rem;
  border-radius: var(--button-radius);

  background: rgba(255, 255, 255, 0.78);
  color: var(--color-blue);

  border: 0.25rem solid rgba(255, 255, 255, 0.85);
  box-shadow:
    0 0 0 0.08rem rgba(255, 255, 255, 0.45),
    inset 0 0.08rem 0.2rem rgba(255, 255, 255, 0.25);

  text-decoration: none;
  font-weight: 800;
}

.nav .cta-button {
  background: var(--color-blue);
  color: var(--color-white);
}

/* eerste section */
.gedaanVisie {
  position: relative;
  min-height: 48rem;
  padding: 10rem 15rem 0 10rem;

  background-image: url("images/landings-1.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: bottom center;
  overflow: hidden;
  z-index: 2;
}

.grutto-content p, .grutto-content h2, .gedaanVisie > p,
.gedaanVisie > h1 {
  margin: 0;
  margin-left: 8vw;
  color: var(--color-blue);
  font-family: var(--font-title);
  font-style: italic;
}

.subtitel p, .maatregelen > .subtitel , .gedaanVisie > p, .grutto-content p {
  font-size: 1.05rem;
  font-weight: 500;
}

.gedaanVisie > h1 {
  font-size: 1.8rem;
  font-weight: 900;
}
.maatregelen > h2 {
 font-size: 1.6rem;
  font-weight: 900;
  color: var(--color-blue);
}

/* wolkenrij */

.kennisWolken {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  margin-top: 4rem;
  padding-left: 5rem;
}

.kennisWolk {
  width: clamp(10rem, 26vw, 16rem);
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
  color: var(--color-blue);
}

.wolk-tekst {
  position: absolute;
  top: -2rem;
  left: 50%;
  z-index: 2;

  width: 105%;
  min-height: 9rem;

  transform: translateX(-50%);

  display: grid;
  grid-template-rows: 1fr auto 1fr;

  padding: 1rem 2rem;

  background-image: url("images/real-cloud-2-wit.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 120%;
}

.kennisWolk img {
  width: 85%;
  display: block;
  margin-top: 4rem;
}



.wolk-tekst p {
  margin: 0;
  color: var(--color-blue);
}

.wolk-tekst p:first-child {
  justify-self: start;
  align-self: end;
}

.groter-tekst-in-de-wolk {
  justify-self: center;
  align-self: end;
 text-wrap: nowrap;

  font-family: var(--font-title);
  font-size: clamp(2.2rem, 3vw, 3.4rem);
  font-weight: 900;
  font-style: italic;
}

.wolk-tekst p:last-child {
  justify-self: end;
  align-self: start;
}

.kennisWolk img {
  width: 100%;
  display: block;
}

/* product button */
.maatregelen a,
.grutto-content a,
.gedaanVisie > a {
  position: absolute;
  right: 12vw;
  margin-top: 1rem;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 0.9rem 1.8rem;
  border-radius: var(--button-radius);

  background: var(--color-blue);
  color: var(--color-white);

  border: 0.25rem solid rgba(255, 255, 255, 0.85);
  box-shadow:
    0 0 0 0.08rem rgba(255, 255, 255, 0.45),
    inset 0 0.08rem 0.2rem rgba(255, 255, 255, 0.25);

  font-family: var(--font-main);
  font-weight: 800;
  text-decoration: none;
}


/*grutto vliegt*/

.grutto-section {
  min-height: 52rem;
  padding: 13rem 12vw 27rem 12vw;
  margin-top: -15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8vw;
  min-height: 50rem;
  background-image: url("images/landings-2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-position-y: -2rem;
  z-index: 3;
}

.grutto-vogel {
  width: clamp(22rem, 38vw, 38rem);
  height: auto;
  transform: translateY(4rem);
}

.grutto-content {
  max-width: 28rem;
  margin-top: 3rem;
}

.subtitel {
  margin: 0;

  color: var(--color-blue);
  font-family: var(--font-title);
  font-weight: 800;
  font-style: italic;
}

.grutto-content h2 {
  margin: 0 0 2rem;
  color: var(--color-blue);
  font-family: var(--font-title);
  font-size: clamp(1.5rem, 2vw, 2rem);
  font-style: italic;
}

.grutto-content p, .grutto-content h2 {
  margin-left:0;
  color: var(--color-blue);
}

.grutto-content p{
    color: black;
}

.maatregelen {
  padding: 6rem 12vw;
  background-image: url("images/landings-3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

.maatregelen-kaarten {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 4rem;
}

.maatregel-kaart {
  width: clamp(14rem, 22vw, 20rem);
  text-align: center;
}

.maatregel-kaart h3 {
  margin: 0;
  color: var(--color-blue);
  font-family: var(--font-title);
  font-size: clamp(1rem, 1.5vw, 2rem);
  font-style: italic;
  line-height: 0.95;
}

.kaart-subtitel {
  margin: 0.5rem 0 1rem;
  color: var(--color-blue);
  font-weight: 700;
  font-size: 0.85rem;
}

.maatregel-kaart img {
  width: 85%;
  display: block;
  margin: 0 auto 1.5rem;
}

.maatregel-kaart > p:last-child {
  text-align: left;
  font-weight: 700;
  line-height: 1.25;
  margin: 0;
}
